<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Feedback</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        customblue: "#7091e6",
                    },
                },
            },
        };
    </script>
</head>
<body class="bg-customblue min-h-screen py-10 px-6">
    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-xl p-6">
        <h2 class="text-2xl font-bold mb-4 text-center">All Feedback Entries</h2>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border p-2">ID</th>
                    <th class="border p-2">Name</th>
                    <th class="border p-2">Age</th>
                    <th class="border p-2">Gender</th>
                    <th class="border p-2">Phone</th>
                    <th class="border p-2">Email</th>
                    <th class="border p-2">City</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                <tr class="text-center">
                    <td class="border p-2">{{ feedback[0] }}</td>
                    <td class="border p-2">{{ feedback[1] }}</td>
                    <td class="border p-2">{{ feedback[2] }}</td>
                    <td class="border p-2">{{ feedback[3] }}</td>
                    <td class="border p-2">{{ feedback[4] }}</td>
                    <td class="border p-2">{{ feedback[5] }}</td>
                    <td class="border p-2">{{ feedback[6] }}</td>
                    <td class="border p-2">
                        <a href="/edit/{{feedback[0]}}" class="bg-blue-800 px-2 py-1 rounded-lg text-white">Edit</a>
                    </td>
                     <td class="border p-2">
                        <a href="/edit/{{feedback[0]}}" class="bg-red-800 px-2 py-1 rounded-lg text-white">Delete</a>
                    </td>
                    <a href="{{ url_for('logout') }}" class="text-white bg-red-500 px-4 py-2 rounded">Logout</a>

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
